<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<include file="$(find ur_gazebo)/launch/ur5_rs.launch"/>
	
	<include file="$(find ibvs_projeto)/launch/spawn_apriltag.launch"/>

	<include file="$(find apriltag_ros)/launch/continuous_detection.launch"/>

	<include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
		<arg name="sim" value="true"/>
	</include>

	<include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
		<arg name="config" value="true"/>
	</include>
</launch>
